<app-header></app-header>
<div class="container">
  <div class="title_block">
    <i class="fas fa-users"></i>
    <h1>Пользователи</h1>
  </div>

  <div class="items_block">
    <input type="search" placeholder="Поиск" [(ngModel)]="search">
    <div class="container__block">
      <table class="resp-tab">
        <thead>
          <tr>
            <th>№</th>
            <th>Ф.И.О</th>
            <th>Телефон</th>
            <th>Дата Рождения</th>
            <th>Адрес</th>
            <th>Роль</th>
            <th>Автомобиль</th>
            <th>Дата добавления</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let users of usersData[0] | filter: search | paginate: {itemsPerPage: 9, currentPage: page}; let idx = index" [routerLink]="['/usersedit', users.userID]">
            <td><span>№</span>{{ idx + 1 }}</td>
            <td><span>Ф.И.О</span>{{ users.firstName }} {{ users.lastName }}</td>
            <td><span>Телефон</span>{{ users.phoneNumber }}</td>
            <td><span>Дата Рождения</span>{{ users.birthDate | date: 'YYYY-MM-dd' }}</td>
            <td><span>Адрес</span>{{ users.email }}</td>
            <td><span>Роль</span>{{ users.carID == '' ? 'Пассажир' : 'Водитель' }}</td>
            <td><span>Автомобиль</span>{{ users.carID  == '' ? 'Есть автомобил' : 'Нет автомобил'  }}</td>
            <td><span>Дата добавления</span>{{ users.created | date: 'YYYY-MM-dd' }}</td>
          </tr>
        </tbody>
      </table>
      <div class="creat">
        <pagination-controls previousLabel="Назад" nextLabel="Далее" (pageChange)="page = $event"></pagination-controls>
      </div>
    </div>
  </div>

</div>
