<app-header></app-header>
<div class="container__block"> 
    <table class="resp-tab">
        <thead>
            <tr>
                <th>№</th>
                <th>Ф.И.О</th>
                <th>Телефон</th>
                <th>Дата Рождения</th>
                <th>Адрес</th>
                <th>Роль</th>
                <th>Автомобиль</th>
                <th>Дата добавления</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span>Заголовок 1</span>Контент 1</td>
                <td><span>Заголовок 2</span>Контент 1</td>
                <td><span>Заголовок 3</span>Контент 1</td>
                <td><span>Заголовок 4</span>Контент 1</td>
                <td><span>Заголовок 4</span>Контент 1</td>
                <td><span>Заголовок 4</span>Контент 1</td>
                <td><span>Заголовок 4</span>Контент 1</td>
                <td><span>Заголовок 4</span>Контент 1</td>
            </tr>
          
        </tbody>
    </table>
</div>