<div class="header">
  <div class="icon_block" routerLink="/users">
    <i class="fa fas fa-arrow-left"></i>
  </div>
  <div class="logo_block">
    <img src="./assets/img/logo.png" alt="" class="auth__logo">
  </div>
</div>
<div class="container">
  <div class="title_block">
    <i class="fas fa-users"></i>
    <h1>Пользователи</h1>
  </div>

  <form action="" class="form_block" [formGroup]="usersEditForm">
    <div class="items_block">

      <div class="items">
        <h1>Имя</h1>
        <input type="text" placeholder="Имя" formControlName="firstName">
      </div>

      <div class="items">
        <h1>Фамилия</h1>
        <input type="text" placeholder="Фамилия" formControlName="lastName">
      </div>

    </div>

    <div class="items_block">

      <div class="items">
        <h1>Телефон</h1>
        <input type="number" placeholder="Телефон" formControlName="phoneNumber">
      </div>

      <div class="items">
        <h1>E-mail</h1>
        <input type="email" placeholder="E-mail" formControlName="email">
      </div>

    </div>

    <textarea placeholder="О Себе" formControlName="userInfo"></textarea>
  </form>

  <div class="about_block">
    <img src='http://api.saba.tj:9998/photo/user?q={{usersEditData.photoLink}}' alt="">
    <div class="about_items">
      <h1>Дата создания: <span>{{ usersEditData.created | date: 'YYYY-MM-dd' }}</span> </h1>
      <h1>Роль: <span>{{ usersEditData.carID == '' ? 'Пассажир' : 'Водитель' }}</span> </h1>
      <h1>Автомобиль: <button (click)="showCar(usersEditData.carID)" >Смотреть</button> </h1>
      <h1>Дата Рождения: <span>{{ usersEditData.birthDate | date: 'YYYY-MM-dd' }}</span> </h1>
    </div>
  </div>

  <div class="but_block">
    <button class="save_but" (click)="saveUserEdit()">Сохранить</button>
    <button class="delete_but" (click)="deleteUserEdit(usersEditData.userID)">Удалить</button>
  </div>

</div>
