<div class="header">
    <div class="icon_block" routerLink="/brones">
      <i class="fa fas fa-arrow-left"></i>
    </div>
    <div class="logo_block">
      <img src="./assets/img/logo.png" alt="" class="auth__logo">
    </div>
  </div>
  <div class="container">
    <div class="title_block">
      <i class="fas fa-book"></i>
      <h1>Броны</h1>
    </div>
  
    <form action="" class="form_block">
      <div class="items_block">
        <div class="items">
          <h1>Тип</h1>
          <input type="text" placeholder="Тип">
        </div>
      </div>
  
      <textarea placeholder="Дополнительные поля"></textarea>
    </form>
  
    <div class="about_block">
      <img src="./assets/img/user.jpg" alt="">
      <div class="about_items">
        <h1>Поездка: <span>1</span> </h1>
        <h1>Автор: <span>Бурдж</span> </h1>
        <h1>Статус: <input type="checkbox"> </h1>
      </div>
    </div>
  
    <div class="but_block">
      <button class="save_but">Сохранить</button>
      <button class="delete_but">Удалить</button>
    </div>
  
  </div>
  
