<app-header></app-header>
<div class="container">
  <div class="title_block">
    <i class="fas fa-suitcase"></i>
    <h1>Поездки</h1>
  </div>

  <div class="items_block">
    <input type="search" placeholder="Поиск" [(ngModel)]="search">
    <div class="container__block">
      <table class="resp-tab">
        <thead>
          <tr>
            <th>№</th>
            <th>Название</th>
            <th>Водитель</th>
            <th>Цена</th>
            <th>Пассажиры</th>
            <th>Дата</th>
            <th>Дата добавления</th>
            <th>Статус</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let trips of tripsData[0] | filter: search | paginate: {itemsPerPage: 10, currentPage: page}; let idx = index" [routerLink]="['/tripsedit', trips.orderID]">
            <td><span>№</span>{{ idx + 1 }}</td>
            <td><span>Название</span>{{ trips.orderName }}</td>
            <td><span>Водитель</span>{{ trips.driverName }}</td>
            <td><span>Цена</span>{{ trips.price }}</td>
            <td><span>Пассажиры</span>{{ trips.passengers }}</td>
            <td><span>Дата</span>{{ trips.time | date: 'YYYY-MM-dd' }}</td>
            <td><span>Дата добавления</span>{{ trips.created | date: 'YYYY-MM-dd' }}</td>
            <td><span>Статус</span>
              <i class="fa fa-check-circle" [ngStyle]="{color: trips.active ? 'green' : 'red'}"></i>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="creat">
        <pagination-controls previousLabel="Назад" nextLabel="Далее" (pageChange)="page = $event"></pagination-controls>
      </div>
    </div>
  </div>

</div>
