<div class="header">
    <div class="icon_block" routerLink="/trips">
      <i class="fa fas fa-arrow-left"></i>
    </div>
    <div class="logo_block">
      <img src="./assets/img/logo.png" alt="" class="auth__logo">
    </div>
  </div>
  <div class="container">
    <div class="title_block">
      <i class="fas fas fa-suitcase"></i>
      <h1>Поездки</h1>
    </div>
  
    <form action="" class="form_block">
      <div class="items_block">
        <div class="items">
          <h1>Название</h1>
          <input type="text" placeholder="Название">
        </div>
      </div>

    </form>
  
    <div class="about_block">
      <div class="about_items">
        <h1>Водитель: <span>Қобил Ҷаборзода</span> </h1>
        <h1>Броны: <span>1</span> </h1>
        <h1>Статус: <input type="checkbox"> </h1>
        <h1>Дата осуществления: <span>2022-01-23</span> </h1>
        <h1>Дата создания: <span>2022-01-22</span> </h1>
      </div>
    </div>
  
    <div class="but_block">
      <button class="save_but">Сохранить</button>
      <button class="delete_but">Удалить</button>
    </div>
  
  </div>
  
