<div class="header">
    <div class="icon_block" routerLink="/trips">
      <i class="fa fas fa-arrow-left"></i>
    </div>
    <div class="logo_block">
      <img src="./assets/img/logo.png" alt="" class="auth__logo">
    </div>
  </div>
  <div class="container">
    <div class="title_block">
      <i class="fas fas fa-suitcase"></i>
      <h1>Поездки</h1>
    </div>
  
    <form action="" class="form_block" [formGroup]="tripsEditForm">
      <div class="items_block">
        <div class="items">
          <h1>Название</h1>
          <input type="text" placeholder="Название" formControlName="orderName">
        </div>
      </div>
    </form>
  
    <div class="about_block">
      <div class="about_items">
        <h1>Водитель: <span>{{ tripsEditData[0]?.driverName }}</span> </h1>
        <h1>Броны: <span>{{ tripsEditData[0]?.reserveID.length }}</span> </h1>
        <h1 style="display: flex;">Статус: <form style="margin-left: 5px;" action="" [formGroup]="tripsEditForm"><input type="checkbox" formControlName="active"></form></h1>
        <h1>Дата осуществления: <span>{{ tripsEditData[0]?.time | date: 'YYYY-MM-dd' }}</span> </h1>
        <h1>Дата создания: <span>{{ tripsEditData[0]?.created | date: 'YYYY-MM-dd' }}</span> </h1>
      </div>
    </div>
  
    <div class="but_block">
      <button class="save_but" (click)="saveTripsEdit()">Сохранить</button>
      <button class="delete_but" (click)="deleteTripsEdit(tripsEditData[0]?.orderID)">Удалить</button>
    </div>
  
  </div>
  
