<app-header></app-header>
<div class="container">
  <div class="title_block">
    <i class="fas fa-car"></i>
    <h1>Автомобили</h1>
  </div>

  <div class="items_block">
    <input type="search" placeholder="Поиск" [(ngModel)]="search">
    <div class="container__block">
      <table class="resp-tab">
        <thead>
          <tr>
            <th>№</th>
            <th>Номер</th>
            <th>Марка</th>
            <th>Модель</th>
            <th>Год.выпуска</th>
            <th>Объем</th>
            <th>Куз</th>
            <th>Дата</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cars of carsData | filter: search | paginate: {itemsPerPage: 10, currentPage: page}; let idx = index" [routerLink]="['/carsedit', cars.carID]">
            <td><span>№</span>{{ idx+1 }}</td>
            <td><span>Номер</span>{{ cars.carNumber }}</td>
            <td><span>Марка</span>{{ cars.markID }}</td>
            <td><span>Модель</span>{{ cars.modelID }}</td>
            <td><span>Год.выпуска</span>{{ cars.producedYear }}</td>
            <td><span>Объем</span>{{ cars.capacity }}</td>
            <td><span>Куз</span>{{ cars.carBody }}</td>
            <td><span>Дата</span>{{ cars.created | date: 'YYYY-MM-d' }}</td>
          </tr>

        </tbody>
      </table>
      <div class="creat">
        <pagination-controls previousLabel="Назад" nextLabel="Далее" (pageChange)="page = $event"></pagination-controls>
      </div>
    </div>
  </div>

</div>
