<div class="auth__container">
    <form class="auth__block" action="" [formGroup]="authForm">
      <img src="./assets/img/logo.png" alt="" class="auth__logo">

      <div class="auth__form">
        <input type="text" placeholder="ИМЯ ПОЛЬЗОВАТЕЛЯ" formControlName="login">
      </div>

      <div class="auth__form auth__password">
        <input type="number" placeholder="ПАРОЛЬ" formControlName="password">
      </div>

      <button class="auth__button" [disabled]="authForm.invalid" (click)="logIn()">ВХОД</button>
    </form>
  </div>