<div class="header">
    <div class="icon_block" routerLink="/cars">
      <i class="fa fas fa-arrow-left"></i>
    </div>
    <div class="logo_block">
      <img src="./assets/img/logo.png" alt="" class="auth__logo">
    </div>
  </div>
  <div class="container">
    <div class="title_block">
      <i class="fas fa-car"></i>
      <h1>Автомобили</h1>
    </div>
  
    <form action="" class="form_block" [formGroup]="carsEditForm">
      <div class="items_block">
  
        <div class="items">
          <h1>Марка</h1>
          <input type="text" placeholder="Марка" formControlName="markID">
        </div>
  
        <div class="items">
          <h1>Номер</h1>
          <input type="text" placeholder="Номер" formControlName="carNumber">
        </div>
  
      </div>
  
      <div class="items_block">
  
        <div class="items">
          <h1>Модель</h1>
          <input type="text" placeholder="Модель" formControlName="modelID">
        </div>
  
        <div class="items">
          <h1>Куз</h1>
          <input type="text" placeholder="Куз" formControlName="carBody">
        </div>
  
      </div>

      <div class="items_block">
  
        <div class="items">
          <h1>Объем</h1>
          <input type="number" placeholder="Объем" formControlName="capacity">
        </div>
  
        <div class="items">
          <h1>Год.выпуска</h1>
          <input type="number" formControlName="producedYear">
        </div>
  
      </div>
    </form>
  
    <div class="about_block">
      <img src="http://api.saba.tj:9998/photo/car?q={{photo}}" alt="">
      <div class="about_items">
        <h1>Дата: <span>{{ carsEditData.created | date: 'YYYY-MM-dd' }}</span></h1>
        <h1>ID: <span>{{ carsEditData.carID }}</span></h1>
      </div>
    </div>
  
    <div class="but_block">
      <button class="save_but" (click)="saveCarsEdit()">Сохранить</button>
      <button class="delete_but" (click)="deleteCarsEdit(carsEditData.carID)">Удалить</button>
    </div>
  
  </div>
  